<nb-chat title="Weather Chatbot" >
    <ng-template nbChatTitle>
        <div class = "title">Weather Chatbot :
            <nb-icon class="flag" icon="{{languageSVG}}" (click)="changeLanguage()"></nb-icon>
            <p name="location" ngDefaultControl [(ngModel)]="currentLocation" #ctrl="ngModel" required>{{currentLocation}}</p>
        </div>
        <button nbButton outline status="info" (click)="getLocation()">Submit your location!<nb-icon icon="navigation-2-outline"></nb-icon></button>
      </ng-template>
    <nb-chat-message *ngFor="let msg of messages"
                     [type]="msg.type"
                     [message]="msg.text"
                     [reply]="msg.reply"
                     [sender]="msg.sender"
                     [date]="msg.date"
                     [avatar]="msg.avatar"
                     [files]="msg.files">
</nb-chat-message>


<nb-chat-message *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="info"
    type="text"
    avatar="/assets/bot.jpeg"
    message="...">
    
</nb-chat-message>


    <nb-chat-form (send)="handleUserMessage($event)" [dropFiles]="false">
    </nb-chat-form>

</nb-chat>